.heading-container {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
 
  margin-top: 20px;
  transition: color 1s;
  box-sizing: border-box;
  padding: 15px;
  z-index: 1;
}

.heading-container::before,
.heading-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-sizing: border-box;
  animation: borderColorChange 5s linear infinite;
  z-index: -1;
}

.heading-container::before {
  border-top: 5px solid #ff0066;
  border-right: 5px solid #ff0066;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
}

.heading-container::after {
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #0066ff;
  border-left: 5px solid #0066ff;
}

@keyframes borderColorChange {
  0%, 100% {
      border-top-color: #ff0066;
      border-right-color: #ff0066;
      border-bottom-color: #0066ff;
      border-left-color: #0066ff;
  }
  50% {
      border-top-color: #ffcc00;
      border-right-color: #ffcc00;
      border-bottom-color: #00ffcc;
      border-left-color: #00ffcc;
  }
}

.heading {
  color: white
}

.create-lobby-container{
  margin: 20px
}